<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование профиля {{ profile }}</title>
</head>
<body>
    <h1>Редактирование профиля {{profile}}</h1>
    <img src="{{profile.avatar.url}}" alt="avatar">

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Обновить данные</button>
    </form>

    <h2>Posts:</h2>
    <ul>
        {% for post in profile.posts.all %}
            <li>
                <a href="{% url 'posts:post_detail' post.id %}">{{ post }}</a>
                <p>Likes: {{ post.likes.count }}</p>
                <p>Dislikes: {{ post.dislikes.count }}</p>
                <form method="post" action="{% url 'posts:post_like' post.id %}">
                    {% csrf_token %}
                    <button type="submit">Like ♥</button>
                </form>
                <img src="{{ post.image_url }}">
            </li>
        {% endfor %}
    </ul>
</body>
</html>