<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ profile }}</title>
</head>
<body>
    <h1>Info about {{profile}}</h1>
    <h2>{{profile.birth_date|date:"d F Y"}}</h2>
    <h2>About:</h2>
    <p>{{profile.about}}</p>
    {% if user.id == profile.id %}
<!--    <a href="{% url 'core:profile_edit' profile.id %}">Редактировать</a>-->
    {% else %}
    <form action="{% url 'core:add_remove_friend' profile.id %}" method="post">
        {% csrf_token %}
        {% if profile in user.friends.all %}
            <button type="submit">Удалить из друзей</button>
        {% else %}
            <button type="submit">Добавить в друзья</button>
        {% endif %}
    </form>
    {% endif %}
    <img src="{{profile.avatar.url}}" alt="avatar">
    <h2>Posts:</h2>
    <ul>
        {% for post in profile.posts.all %}
            <li>
                <a href="{% url 'posts:post_detail' post.id %}">{{ post }}</a>
                <p>Likes: {{ post.likes.count }}</p>
                <p>Dislikes: {{ post.dislikes.count }}</p>
                <form method="post" action="{% url 'posts:post_like' post.id %}">
                    {% csrf_token %}
                    <button type="submit">Like ♥</button>
                </form>
                <img src="{{ post.image_url }}">
            </li>
        {% endfor %}
    </ul>
</body>
</html>